
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.primary-color{
color: #FD6E0A;
}
.button-primary{
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    margin-left: 150px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474474;
}

header{
    background-color: beige;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.profile-picture{
    width: 400px;
}

.banner-greeting{
    font-size: 45px;
    color: #474474;
    margin-bottom: 0;
}

.babanner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 20px;
}
p{
    font-size: small;
    font-family: serif;
}

.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
    text-align: center;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 0;
}
.section-description{
    color: #181818;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-infocontainer{
display: flex;
justify-content: space-between;
}
.about-info{
    text-align: center;
}

.skills-container{
    display: flex;
}